fastapi==0.115.6
uvicorn==0.34.0
openai==1.58.1
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith==0.1.147
redis
uvicorn[standard]
sqlalchemy
psycopg2-binary